.navbar{
    /* background-color: #ffc798 !important; */
    /* visibility: hidden; */
    width: 100%;
}

.signup{
    background-color: white !important;
    /* border: none;
    border-radius: 6px; */
}
.login{
    background-color: white !important;
    /* border: none;
    border-radius: 6px; */
}


