.datehead{
    background-color: #efefef;
    text-align: left;
}

table th,tr{
    width: calc(100%/5);
    text-align: center;
}

.delete{
    border-radius: 7px;
    /* background-color: rgb(255, 158, 158); */
}
    
    @media only screen and (max-width: 600px) {
        .transactionbox{
            font-size: 73%;
        } 
      }